<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.vegan.recipe.dao.RecipeDAO">

	<insert 
		useGeneratedKeys="true"
		keyColumn="rec_id"
		keyProperty="rec_id"
		id="write" parameterType="com.vegan.recipe.dto.RecipeDTO">
		INSERT INTO recipe(rec_title, rec_video, user_id, cat_id, step_id, rec_creatdate, rec_del_chk, rec_blind_chk)
			VALUES(#{rec_title}, #{rec_video}, #{user_id}, #{cat_id}, #{step_id}, #{rec_creatdate},0,0)
	</insert>
	
	<insert id="writeContent">
		INSERT INTO recipe_content(rec_id, rec_content, rec_content_id)
			VALUES(#{rec_id},#{rec_content},#{rec_content_id})
	</insert>
	
		<insert id="writeFood">
		INSERT INTO food(rec_id, food_name, food_quantity,food_id)
			VALUES(#{rec_id},#{food_name},#{food_quantity},#{food_id})
	</insert>

	<insert id="fileWrite">
		INSERT INTO photo(identify_number, photo_number, ori_photo_name, photo_name,cat_id)
			VALUES(#{identify_number},#{photo_number},#{ori_photo_name}, #{photo_name},#{cat_id})
	</insert>
</mapper>

                 