<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.vegan.recipe.dao.RecipeDAO">

	<insert 
		useGeneratedKeys="true"
		keyColumn="rec_id"
		keyProperty="rec_id"
		id="write" parameterType="com.vegan.recipe.dto.RecipeDTO">
		INSERT INTO recipe(rec_title, user_id, cat_id, step_id, rec_creatdate, rec_del_chk, rec_blind_chk,rec_view)
			VALUES(#{rec_title}, #{user_id}, #{cat_id}, #{step_id}, #{rec_creatdate},0,0,0)
	</insert>
	
	<insert id="writeContent">
		INSERT INTO recipe_content(rec_id, rec_content, rec_content_id)
			VALUES(#{rec_id},#{rec_content},#{rec_content_id})
	</insert>
	
		<insert id="writeFood">
		INSERT INTO food(rec_id, food_name, food_quantity,food_id)
			VALUES(#{rec_id},#{food_name},#{food_quantity},#{food_id})
	</insert>

	<insert id="fileWrite">
		INSERT INTO photo(identify_number, photo_number, ori_photo_name, photo_name,cat_id)
			VALUES(#{identify_number},#{photo_number},#{ori_photo_name}, #{photo_name},#{cat_id})
	</insert>
	
	<select id="detail1" 
		resultType="com.vegan.recipe.dto.RecipeDTO">
		select rec_id,user_id,rec_title,rec_video,rec_creatdate from recipe
	where rec_id = #{rec_id};
	</select>
	
	<select id="detail2" 
		resultType="com.vegan.recipe.dto.RecipeDTO">
		SELECT recipe_content.rec_content,rec_content_id 
		FROM recipe
		JOIN recipe_content ON recipe.rec_id = recipe_content.rec_id
		WHERE recipe.rec_id = #{rec_id};
	</select>
	
	<select id="detail4" 
		resultType="com.vegan.recipe.dto.RecipeDTO">
		SELECT food.food_name ,food_quantity , food_id 
		FROM recipe
		JOIN food ON recipe.rec_id = food.rec_id
		WHERE recipe.rec_id = #{rec_id};
	</select>
	
	<select id="detail3" 
		resultType="com.vegan.recipe.dto.RecipeDTO">
		SELECT photo.photo_number,ori_photo_name, photo_name 
		FROM recipe
		JOIN photo ON recipe.rec_id = photo.identify_number
		WHERE recipe.rec_id = #{rec_id} and photo_number >= 1;
	</select>
	
		<select id="detail5" 
		resultType="String">
		SELECT photo.photo_name 
		FROM recipe
		JOIN photo ON recipe.rec_id = photo.identify_number
		WHERE recipe.rec_id = #{rec_id} and photo_number = 0;
	</select>
	
		<update id="upRec_view">
		UPDATE recipe SET rec_view = rec_view+1	
			WHERE rec_id = #{rec_id}
	</update>
	
		<select id="list" resultType="com.vegan.recipe.dto.RecipeDTO">
		SELECT 
			rec_id, user_id, rec_title, rec_view
		FROM recipe ORDER BY rec_id DESC
	</select>
	
	<select id="listPhoto" resultType="com.vegan.recipe.dto.RecipeDTO">
		SELECT photo.photo_name 
		FROM recipe
		JOIN photo ON recipe.rec_id = photo.identify_number
		WHERE photo_number = 0;
	</select>
	
	<insert id="writeTag">
		INSERT INTO tag(rec_id, tag_id)
			VALUES(#{rec_id},#{tag_id})
	</insert>

	<select id="detailTag" resultType="com.vegan.recipe.dto.RecipeDTO">
			select teg_list.tag 
			from tag 
			join teg_list on teg_list.tag_id = tag.tag_id 
			where tag.rec_id = #{rec_id};
	</select>
	
	
</mapper>

                 