<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.vegan.member.dao.MemberDAO">
		<insert id ="join" parameterType="hashmap">
			INSERT INTO user(user_id, user_pw, user_name,  user_phone, user_sex, user_email)
				VALUES(#{user_id},#{user_pw},#{user_name},#{user_phone},#{user_sex},#{user_email})
		</insert>
</mapper>