<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.vegan.magazine.dao.MagazineDAO">

	 <select id="list" resultType="com.vegan.magazine.dto.MagazineDTO">
	    SELECT 
			board_id, userID, board_title, board_content, board_date, board_views, categoryID 
		FROM board ORDER BY board_id DESC
	   </select>
	   
	   <!-- 조건 2 : generatedKey 옵션을 사용해야 한다. 
		useGeneratedKeys="true"
		keyColumn="idx"	<- 가져올 키 컬럼의 이름
		keyProperty="idx"	<- DTO 에 담을 필드 이름
	-->
	
	<insert 
		useGeneratedKeys="true"
		keyColumn="board_id"
		keyProperty="board_id"
		id="write" parameterType="com.vegan.magazine.dto.MagazineDTO">
		INSERT INTO board(board_title, userID, board_content, categoryID)
			VALUES(#{board_title},#{userID},#{board_content},#{categoryID})
	</insert>
	
	<insert id="fileWrite">
		INSERT INTO photo(board_id, oriFileName, photo_name)
			VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	<update id="board_views">
		UPDATE board SET board_views = board_views+1	
			WHERE board_id = #{param1}
	</update>
	
	<select id="detail" 
		resultType="com.vegan.magazine.dto.MagazineDTO">
		SELECT 
			b.board_id, b.userID, b.board_title, b.board_content, b.board_date 
			,p.photo_id, p.photo_name
		FROM board b left join photo p ON b.board_id = p.photo_id 
		WHERE b.board_id = #{param1}
	</select>
	
	<delete id="delete">
		DELETE FROM board WHERE board_id = #{param1}
	</delete>
	
	<select id="findFile" resultType="String">
		SELECT photo_name FROM photo 
			WHERE board_id = #{param1}
	</select>
	  
</mapper>