<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.vegan.classes.dao.ClassesDAO">

	<select id="list" resultType="com.vegan.classes.dto.ClassesDTO">
		SELECT 
			cl_id,user_id,cl_subject,cl_period,cl_deadline,cl_teacher,cl_date,cl_ing_chk,cl_status,cl_adress,cl_content
		FROM class ORDER BY cl_id DESC
	</select>
	
	<select id="adminChk"  resultType="java.lang.Byte">
		SELECT 
			user_admin_chk
		FROM user Where user_id = #{param1}
	</select>

	<insert id="write" parameterType="com.vegan.classes.dto.ClassesDTO">
		insert into class(user_id,cl_subject,cl_period,cl_deadline,cl_teacher,cl_date,cl_ing_chk,cl_adress,cl_content,cl_status,cl_del_chk)
			VALUES(#{user_id},#{cl_subject},#{cl_period},#{cl_deadline},#{cl_teacher},#{cl_date},#{cl_ing_chk},#{cl_adress},#{cl_content},0,0)
	</insert>
	
	<select id="detail" 
		resultType="com.vegan.classes.dto.ClassesDTO">
		select 
			user_id,cl_id,cl_subject,cl_period,cl_deadline,cl_teacher,cl_date,cl_ing_chk,cl_status,cl_adress,cl_content
				from class where cl_id = #{cl_id}
	</select>
	
	<update id="update" parameterType="hashmap">
		UPDATE class SET user_id = #{user_id}
			,cl_subject = #{cl_subject}
			,cl_period = #{cl_period}
			,cl_deadline = #{cl_deadline}
			,cl_teacher = #{cl_teacher}
			,cl_date = #{cl_date}
			,cl_ing_chk = #{cl_ing_chk}
			,cl_adress = #{cl_adress}
			,cl_content = #{cl_content}
		WHERE cl_id = #{cl_id}
	</update>
	
	<select id="appWrite" 
		resultType="String">
		select 
			cl_subject
				from class where cl_id = #{cl_id}
	</select>
	
	<select id="user" 
		resultType="com.vegan.classes.dto.ClassesDTO">
		select 
			user_id,user_name,user_phone,user_email
			from user where user_id = #{parama1}
	</select>
	
	<select id="appWrite4" 
		resultType="String">
		select 
			cl_id
			from class where cl_subject = #{cl_subject}
	</select>
	
	<insert id="classApp" parameterType="com.vegan.classes.dto.ClassesDTO">
		insert into class_join(cl_part_id,cl_id,user_id,user_adress,user_name,user_phone)
			VALUES(#{cl_part_id},#{cl_id},#{user_id},#{user_adress},#{user_name},#{user_phone})
	</insert>
	
	<select id="appList" resultType="com.vegan.classes.dto.ClassesDTO">
		SELECT 
			cl_part_id,cl_id,user_id,user_name,user_phone,user_adress
			from class_join where cl_id = #{cl_id} ORDER BY cl_id DESC
	</select>
	

	


</mapper>