<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.vegan.report.dao.ReportDAO">

	<insert id="report" parameterType="hashmap">
		INSERT INTO report (
		user_id,
		cat_id, identify_number, reporter, reason, content,subject
		) VALUES (
		#{user_id}, #{cat_id}, CONCAT(#{board_id}, '-',
		COALESCE(#{comment_id}, 0)),
		#{reporter}, #{reason},
		#{content},#{title}
		)
	</insert>

	<select id="reportList"
		resultType="com.vegan.report.dto.ReportDTO">
		SELECT * FROM report
	</select>


	<select id="reportDetail"
		resultType="com.vegan.report.dto.ReportDTO">
		SELECT * FROM report where report_id = #{param1}
	</select>


	<update id="reportStatus" parameterType="String">
		UPDATE report
		SET status
		= #{status}, admin = #{adminId}
		WHERE report_id = #{report_id}
	</update>

	<insert id="userDisposal" parameterType="hashmap">
		INSERT INTO history (
		report_id,report_admin,report_result, report_reason, user_id
		) VALUES (
		#{report_id}, #{admin_id},#{disposal}, #{reason},#{user_id}
		)
	</insert>

	<select id="history" resultType="com.vegan.report.dto.ReportDTO">
		SELECT * FROM history WHERE
		user_id = #{param1}
	</select>

	<update id="delUser" parameterType="String">
		UPDATE user SET user_secc_chk
		= "1"
		WHERE user_id = #{param1}
	</update>


</mapper>