<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.vegan.report.dao.ReportDAO">

<insert id="report" parameterType="hashmap">
	INSERT INTO report(
        user_id,cat_id,identify_number,reporter,reason,content
      )VALUES(
       #{user_id},#{cat_id},#{board_id},#{reporter},#{reason},#{content}
      )
</insert>

   
</mapper>