<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.vegan.letter.dao.LetterDAO">

	<select id="recieveList" 
		resultType="com.vegan.letter.dto.LetterDTO">
		SELECT letter_id, send_user_id,letter_tItle,letter_date,letter_chk 
			FROM letter WHERE recive_user_id = #{param1}
				LIMIT #{param2} OFFSET #{param3}
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(letter_id) FROM letter
	</select>
	
	<select id="sendList" 
		resultType="com.vegan.letter.dto.LetterDTO">
		SELECT letter_id,recive_user_id, letter_tItle,letter_date,letter_chk 
			FROM letter WHERE send_user_id = #{param1}
				LIMIT #{param2} OFFSET #{param3}
	</select>
	
	<insert id="letterSend" parameterType="hashmap">
      INSERT INTO letter(
         send_user_id,recive_user_id,letter_tItle,letter_content,letter_date,letter_del_chk,letter_chk
      )VALUES(
         #{id},#{receiver},#{subject},#{content},#{date},false,false
      )
   </insert>
   
   	<delete id="delete">
		DELETE FROM letter WHERE letter_id = #{letter_id}
	</delete>
   
   	<select id="detail" resultType="hashmap">
		SELECT * FROM letter WHERE letter_id = #{param1}
	</select>
	
	<update id="read">
		UPDATE letter SET letter_chk = true
			WHERE letter_id = #{param1} AND recive_user_id = #{param2}
	</update> 
</mapper>